/* h1 {
    font-size: 2.25rem;
    font-weight: 500;
} */

.prose {
    font-size: 18px;
}

.prose .dark :not(h1, h2, h3, h4, h5, h6) {
    color: #e5e5e5;
}

.prose a {
    color: var(--color-primary);
}

.prose strong {
    color: var(--color-primary);
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 1.25;
}

.prose h1 {
    font-size: 2.25rem;
}

.prose h2 {
    font-size: 1.8rem;
}

.prose h3 {
    font-size: 1.4rem;
}

.prose p {
    margin-bottom: 1.5rem;
}

/* .prose a {
    color: blue;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease;
}

.prose a:hover {
    border-bottom: 1px solid blue;
} */

/* Blockquotes */
.prose blockquote {
    margin: 2rem 0 2rem 0;
    margin-left: 0;
    padding-left: 1rem;
    border-left: 2px solid black;
    color: #2f3843;
}

/* Dark mode blockquote */
.dark .prose blockquote {
    border-left: 2px solid var(--color-primary);
    color: #acacac;
}

/* Lists */
.prose ul,
.prose ol {
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.prose li {
    margin-bottom: 0.5rem;
}

/* Numbered lists with custom styling */
.prose ol {
    counter-reset: list-counter;
    list-style-type: none;
    padding-left: 0;
    margin: 1rem 0 1rem 0;
}

.prose ol > li {
    counter-increment: list-counter;
    position: relative;
    padding-left: 1.25rem;
    margin-bottom: 0.25rem;
}

.prose ol > li::before {
    content: counter(list-counter) ".";
    position: absolute;
    left: 0;
    font-weight: 600;
    color: var(--accent-color);
}

/* Bullet lists with custom styling */
.prose ul {
    list-style-type: none;
    padding-left: 0;
    margin: 1rem 0 1rem 0;
}

.prose ul > li {
    position: relative;
    padding-left: 1.25rem;
    margin-bottom: 0.25rem;
}

.prose ul > li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: var(--color-primary);
    font-weight: bold;
}
