---
import BaseLayout from '../layouts/BaseLayout.astro';
import Projects from '../components/Projects.astro';
import Blogs from '../components/BlogList.astro';
---

<BaseLayout>
    <main class="flex flex-col w-full h-full flex-1 grow pb-40">
        <!-- <div class="flex justify-left gap-7">
            <Image src={profile} alt="Profile" class="profile-image" />
            <div class="flex flex-col items-start">
                <header class="text-3xl md:text-4xl font-bold">Scott Quach</header>
                <div class="text-left text-base md:text-xl opacity-90">Digital Creator ( Engineer / Photographer )</div>
            </div>
        </div> -->

        <h1 class="text-left font-bold text-2xl md:text-2xl text-primary">Scott Quach</h1>
        <!-- <div class="text-left text-base md:text-xl text-gray-400">Digital Creator ( Engineer / Photographer )</div> -->

        <div class="flex flex-col gap-5">
            <section class="space-y-2 mb-5 mt-1">
                <p class="text-left font-bold text-2xl md:text-3xl">
                    Product builder with a passion for everyday experiences. Focused on web and mobile development.
                    Photographer by night.
                </p>

                <p class="text-left text-base md:text-lg text-gray-500">
                    Principal Software Engineer at {' '}
                    <a
                        class="hover:underline text-primary dark:text-primary-light font-medium"
                        href="https://www.t-mobile.com"
                        target="_blank"
                        rel="noreferrer"
                    >
                        @T-Mobile
                    </a>
                </p>
            </section>

            <section>
                <div class="text-primary font-semibold text-left mb-6 mt-2">Today I thought</div>
                <Blogs />
            </section>

            <section>
                <div class="text-primary font-semibold text-left my-6">Startups... ok side projects</div>
                <Projects />
            </section>

            <section>
                <div class="text-primary font-semibold text-left my-6">Say hello</div>
                <p>
                    Explore my work on <a
                        href="https://www.linkedin.com/in/scott-quach/"
                        target="_blank"
                        rel="noreferrer">LinkedIn</a
                    > or <a href="https://github.com/scottquach" target="_blank" rel="noreferrer">Github</a>.
                    <br />
                    Checkout my photography on
                    <a href="https://www.instagram.com/jpg.by.scottq/" target="_blank" rel="noreferrer">Instagram</a>
                    <!-- or <a href="https://www.youtube.com/@scott-quach" target="_blank" rel="noreferrer">YouTube</a>. -->
                </p>
            </section>
        </div>
    </main></BaseLayout
>
