---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Scott Quach | Projects">
    <main class="flex flex-col h-full w-full flex-1 pb-20">
        <h1 class="text-left font-bold text-4xl text-primary">Projects</h1>

        <p class="text-left font-bold text-2xl md:text-3xl">
            Building apps that help me with daily life. Here are some projects I've worked on recently.
        </p>

        <!-- <div class="text-left font-semibold text-3xl mb-12">
            <a href="/" class="text-primary hover:underline dark:text-primary-light"> Scott Quach </a>{' '}
            - Projects
        </div>
        <p class="text-left">
            I like building apps that help me with daily life. Here are some projects I've worked on recently.
        </p> -->

        <div class="flex flex-col mt-12 mb-8 gap-7">
            <div class="text-left">
                <a href="https://www.flowjournalapp.com/" target="_blank" rel="noreferrer">
                    <div class="mb-1.5 flex items-center gap-2 hover:underline">
                        <div class="font-semibold text-lg">Flow Journal</div>
                        <i class="fa-solid fa-up-right-from-square text-xs"></i>
                    </div>
                </a>
                <div class="text-primary text-sm opacity-85 dark:text-primary-light mb-2">
                    Next.js, AI, Vercel, Neon DB
                </div>
                <p class="text-sm opacity-90">Think It. Write It. Go. A journal meant for writing, not editing.</p>
            </div>
            <div class="text-left">
                <a href="https://billsplitai.com/" target="_blank" rel="noreferrer">
                    <div class="mb-1.5 flex items-center gap-2 hover:underline">
                        <div class="font-semibold text-lg">Bill Split AI</div>
                        <i class="fa-solid fa-up-right-from-square text-xs"></i>
                    </div>
                </a>
                <div class="text-primary text-sm opacity-85 dark:text-primary-light mb-2">React, AI, Cloudflare</div>
                <p class="text-sm opacity-90">
                    App that allows you to split a restaurant bill with friends based on a plain English breakdown of
                    who ordered what. Can analyze a receipt based on a single photo.
                </p>
            </div>

            <div class="text-left">
                <a href="https://make-a-meal-app.pages.dev/" target="_blank" rel="noreferrer">
                    <div class="mb-1.5 flex items-center gap-2 hover:underline">
                        <div class="font-semibold text-lg">Make a Meal</div>
                        <i class="fa-solid fa-up-right-from-square text-xs"></i>
                    </div>
                </a>
                <div class="text-primary text-sm opacity-85 dark:text-primary-light mb-2">React, AI, Cloudflare</div>
                <p class="text-sm opacity-90">
                    Convert any Instagram Reel recipe into a step-by-step markdown recipe with ingredients and AI
                    tips/tricks.
                </p>
            </div>

            <div class="text-left">
                <a href="https://garminwrapped.com" target="_blank" rel="noreferrer">
                    <div class="mb-1.5 flex items-center gap-2 hover:underline">
                        <div class="font-semibold text-lg">Garmin Wrapped</div>
                        <i class="fa-solid fa-up-right-from-square text-xs"></i>
                    </div>
                </a>
                <div class="text-primary text-sm opacity-85 dark:text-primary-light mb-2">React, Remix, Cloudflare</div>
                <p class="text-sm opacity-90">
                    A web app that generates insights, summary, and visualizations of your Garmin data for a year in
                    review.
                </p>
            </div>
        </div>

        <div class="divider"></div>

        <div class="text-left mt-8">
            <h2 class="font-semibold text-xl mb-4">Technical Skills</h2>
            <div class="grid grid-cols-2 gap-4 text-sm opacity-90">
                <div>
                    <p class="font-medium mb-2">Frontend:</p>
                    Angular, React
                </div>
                <div>
                    <p class="font-medium mb-2">Backend:</p>
                    Node.js, Python, PostgreSQL, Databricks
                </div>
                <div>
                    <p class="font-medium mb-2">Cloud & DevOps:</p>
                    AWS, Microsoft Azure, Cloudflare
                </div>
            </div>
        </div>
    </main>
</Layout>
