---
const allPosts = Object.values(import.meta.glob('../blog/*.md', { eager: true })) as Record<string, any>[];
---

<div class="flex flex-col gap-5">
    {
        allPosts.map((post) => (
            <div class="flex gap-3">
                <span class="text-gray-500">
                    {post.frontmatter.date && new Date(post.frontmatter.date).toISOString().split('T')[0]}
                </span>
                {post.frontmatter.title}
            </div>
        ))
    }
</div>
