---
const currentYear = new Date().getFullYear();
---

<footer class="flex justify-center items-center py-4 mt-auto">
    <p class="text-sm text-gray-500">
        &copy; {currentYear} Scott Quach. All rights reserved.
    </p>
</footer>

