---
import '../styles/blog-md.css';
import { render } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import { format } from 'date-fns';

const { post } = Astro.props;

const { Content, headings } = await render(post);
---

<BaseLayout title={post.data.title}>
    <div class="w-full flex justify-center">
        <div class="w-[46rem] pt-5 px-4 pb-52">
            <div class="flex items-center gap-7">
                <h1 class="text-left text-lg font-semibold text-primary">Scott Quach</h1>
                <a href="/" class="text-sm hover:underline">Home</a>
            </div>

            <h1 class="text-3xl md:text-4xl font-semibold mt-8">{post.data.title}</h1>
            <div class="text-gray-500 dark:text-gray-400 mb-10 mt-2">
                {format(new Date(post.data.date), 'MMMM yyyy')} in <span class="bg-gray-100 dark:bg-neutral-800 px-1 py-0.5 rounded"
                    >{post.data.category}</span
                >
            </div>
            <div class="prose">
                <Content />
            </div>
        </div>
    </div>
</BaseLayout>
