---
import '../styles/blog-md.css';
import { render } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import { format } from 'date-fns';

const { post } = Astro.props;

const { Content, headings } = await render(post);
---

<BaseLayout>
    <div class="w-full flex justify-center">
        <div class="max-w-[42rem] py-10">
            <h1 class="text-4xl font-bold">{post.data.title}</h1>
            <div class="text-gray-500 mb-10 mt-2 font-mono">
                {format(new Date(post.data.date), 'MMMM yyyy')} in <span class="bg-gray-200 px-1 py-0.5 rounded"
                    >{post.data.category}</span
                >
            </div>
            <div class="prose">
                <Content />
            </div>
        </div>
    </div>
</BaseLayout>
